/* Reseteamos los estilos del navegador */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Guia de estilos declarada con variables */
:root{
    --negro: #1f1f1f;
    --gris: #EBEBEB;
    --blanco: #f5f5f5;
    --violetaSuave: #9873d3;
    --violetaIntenso: #49277c;
    --naranjaSuave: #FF9933;
    --naranjaIntenso: #E07000;
    --verdeSuave: #259a54;
    --verdeIntenso: #146B37;
    --h1: 50px;
    --h2: 30px;
    --h3: 24px;
    --subhead: 20px;
    --p: 19px;
    --Gang: 'Gang of Three';
    --Roboto: 'Roboto Slab';
    --SourceSansPro: 'Source Sans Pro';

}

/* Fuentes tipograficas */
@font-face {
    font-family: 'Gang of Three';
    src: url('../fonts/gang.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

/* Estilos del header */
header{
    width: 100%;
    font-family: var(--Gang);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violetaIntenso);
}

.logo_header{
    float: left;
    background-color: var(--violetaSuave);
    padding: 10px 3%;
}

.nav_links li a{
    font-size: 20px;
    background-color: var(--violetaIntenso);
    color: var(--blanco);
    text-decoration: none;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 30px;
}

li input{
    font-size: 20px;
    font-family: var(--Gang);
    color: var(--violetaIntenso);
    background-color: var(--blanco);
    text-decoration: none;
    border-radius: 5px;
}

button{
    font-family: var(--Gang);
    font-weight: 800;
    font-size: 20px;
    color: var(--blanco);
    background-color: var(--violetaSuave);
    width: 150px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.registro{
    padding: 0px 70px 0px 0px;
    text-align: left;
}

/* Estilos del main */
main{
    background-image: url(../img/login.jpg);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

main section{
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    position: relative;
    min-height: 750px;
    justify-content: center;
}

.login{
    background-color: rgba(235,235,235,.85);
    border: 1px solid;
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    height: 550px;
    position: relative;
}

.registrate{
    background-color: rgba(235,235,235,.85);
    border: 1px solid;
    border-radius: 10px 0px 0px 10px;
    width: 30%;
    height: 550px;
    position: relative;
}

.registro_enlace{
    font-weight: 500;
    font-size: var(--h2);
    color: var(--negro);
    background-color: var(--violetaSuave);
    width: 65%;
    height: 12%;
    border: 1px solid var(--negro);
    border-radius: 10px;
    font-family: var(--Roboto);    
}

div img{
    width: 20%;
    border-radius: 90%;
    margin-top: 7%;
}


div h1{
    font-family: "Roboto Slab";
    color: var(--negro);
    font-size: 50px;
    padding: 0px 0px 0px 0px;
}

div h2{
    font-family: "Roboto Slab";
    color: var(--negro);
    font-size: 30px;
    padding: 20% 0px 30% 0px;
}


form{
    margin-top: 4%;
    height: 60%;
}

form div{
    height: 100%;
}

input[type="text"]{
    margin: 1% 0% 1% 0%;
    width: 70%;
    font-family: "Source Sans Pro";
    font-size: 30px;
    border: none;
    border-bottom: 1px solid var(--negro);
    outline: 0;
    background: none
}

.label_captcha{
    display: inline;
}

#captcha{
    margin: 0% 0% 1% 0%;
    width: 70%;
    font-family: "Source Sans Pro";
    font-size: 30px;
    border: none;
    border-bottom: 1px solid var(--negro);
    outline: 0;
    background: none
}

.iniciar_sesion{
    font-size: var(--h3);
    color: var(--negro);
    background-color: var(--violetaSuave);
    width: 30%;
    height: 15%;
    border: 1px solid var(--negro);
    border-radius: 5px;
    margin: 4% 0% 0% 35%;
    display: block;
    font-family: var(--SourceSansPro);
    font-weight: 800;
}

#login p{
    margin: 5% 0% 0% 13%;
    width: 65%;

}

p label{
    font-family: var(--SourceSansPro);
}


/* Estilos del footer */
footer{
    width: 100%;
    font-family: var(--SourceSansPro);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violetaIntenso);
}

.logo_footer{
    float: left;
    padding: 15px 3%;
}

.footer_links li a{
    font-size: 16px;
    background-color: var(--violetaIntenso);
    color: var(--blanco);
    text-decoration: none;
}

.rrss{
    padding: 0px 100px;
}

.rrss p{
    font-family: var(--SourceSansPro);
    color: var(--blanco);
}

.rrss li{
    display: inline-block;
    padding: 0px 4%;
}

.footer_links{
    list-style: none;
}

.footer_links li{
    display: inline-block;
    padding: 0px 40px;
}

a img{
    width: auto;
    border-radius: 5%;
}

/* Responsive design */

@media (max-width: 1315px) and (min-width: 1025px){

}

@media (max-width: 1024px) and (min-width: 769px){
    .iniciar_sesion {
        width: 25%;
        height: 20%;
        margin: 4% 0% 0% 35%;
        font-size: 18px;
    }

    div h2 {
        font-size: 25px;
        padding: 55% 0px 30% 0px;
    }
    
    .registro_enlace {
        font-size: 25px;
        width: 65%;
        height: 12%;
        border: 1px solid var(--negro);
        border-radius: 10px;
        font-family: var(--Roboto);
    }

    .login {
        height: 450px;
    }

    .registrate {
        height: 450px;
    }

}

@media (max-width: 768px) and (min-width: 320px){
    .iniciar_sesion {
        width: 40%;
        height: 20%;
        margin: 5% 0% 0% 30%;
        font-size: 18px;
    }

    #login p {
        margin: 5% 0% 0% 15%;
        width: 65%;
    }

    div h2 {
        font-size: 20px;
        padding: 65% 0px 30% 0px;
    }
    
    .registro_enlace {
        font-size: 18px;
        width: 75%;
        height: 12%;
    }

    .login {
        height: 400px;
    }

    .registrate {
        height: 400px;
    }
}